body {
  background-color: black;
}

.books {
  border-radius: 12px;
  border: 3px solid #9370db;
  height: 270px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 5px;
  font-size: 20px;
  margin-top: 20px;
}
.books img {
  height: 75%;
  width: 200px;
  margin-left: 50px;

  padding-bottom: 29px;
}
p {
  margin-left: 75px;
}
.book-club {
  color: white;
}
.viewbook {
  border-radius: 12px;
  border: 1px solid #9370db;
  background-color: #f1dcf2;
  margin-left: 160px;
  height: 25px;
  width: 85px;
  /* margin-bottom: 100px; */
}
a.text {
  text-decoration: none;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 20px;
}
