@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap");
body {
  background-color: black;
}

.books {
  border-radius: 12px;
  border: 3px solid #9370db;
  height: 270px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  margin-bottom: 5px;
  font-size: 20px;
  margin-top: 10px;
  text-decoration: none;
}
.books img {
  height: 75%;
  width: 200px;
  margin-left: 45px;

  padding-bottom: 29px;
  margin-bottom: 5px;
}
#titles {
  margin-left: 60px;
  font-family: "Montserrat", sans-serif;
  height: 20px;
}
.book-club {
  color: white;
  font-family: "Montserrat", sans-serif;
  margin-left: 75px;
  margin-top: 25px;
  display: flex;
}
.viewbook {
  border-radius: 12px;
  border: 1px solid #9370db;
  background-color: #f1dcf2;
  margin-left: 150px;
  height: 25px;
  width: 85px;
  /* margin-bottom: 100px; */
}
a.text {
  text-decoration: none;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 20px;
}
h2 {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
}
#titles {
  height: 25px;
}

#add-book {
  height: 65px;
  width: 45px;
  float: right;
  margin-left: 18px;

  margin-bottom: 10px;
  /* border: 1px solid red; */
}

@media (min-width: 992px) {
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .book-desktop {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 500px;
    border: none;
    margin-top: -10px;
  }
  .viewbook {
    display: none;
  }
  .books {
    position: relative;
    display: flex;
    flex: 1 1 0px;
    transition: transform 500ms;
    padding-right: 5px;
    padding-top: 5px;
    height: 275px;
    margin-top: 15px;
    width: 350px;
    flex-direction: column;
  }
  body {
    overflow: hidden;
  }
  .book-desktop .books:focus,
  .book-desktop .books:hover {
    transform: scale(1.5);
    z-index: 1;
  }
  .book-club {
    margin-left: 600px;
  }
  .books img {
    margin-left: 15px;
    margin-top: 10px;
  }
  #titles {
    height: 20px;
    padding-bottom: 10px;
  }
  #add-book {
    margin-left: 505px;
    margin-bottom: 10px;
  }
}
