.clubs {
  border: 1px solid #9370db;
  height: 350px;
  margin-top: 20px;
  padding-bottom: 5px;
  width: 95%;
  margin-left: 10px;
  border-radius: 10px;
}
#club-img {
  margin-left: 30px;
  margin-bottom: 10px;
  width: 291px;
  height: 175px;
  padding-top: 25px;
  border-radius: 12px;
}

#club-card {
  text-decoration: none;
}

#club-name {
  margin-left: 110px;
}
#description {
  padding-right: 5px;
  padding-bottom: 15px;
}
