@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap");
.header {
  color: white;
  height: 185px;
  background-color: #9370db;
}
#logo {
  height: 110px;
  margin-left: 55px;
}
.header-menu {
  float: right;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.greeting {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 75px;
  font-family: "Montserrat", sans-serif;
}

#logout-button {
  background-color: #9370db;
  border: none;
  margin-top: -50px;
}

#logout {
  height: 35px;
}

#profile {
  height: 55px;
  float: right;
  margin-right: 10px;
}
#home-logo {
  display: none;
}

@media (min-width: 770px) {
  #logo {
    height: 230px;
    margin-left: 335px;
    width: 50%;
  }
  .header {
    height: 240px;
    width: 100%;
  }
  #home-logo {
    display: block;
    height: 50px;
    margin-top: -82px;

    float: right;
    margin-right: 70px;
  }
  #profile {
    margin-top: 160px;
    height: 50px;
  }
  #logout {
    margin-right: 20px;
    height: 40px;
  }
  #logout-button {
    margin-top: -70px;
  }
  .greeting {
    margin-left: 110px;
    margin-top: -55px;
    font-size: 25px;
  }
}
