@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap");
.header {
  background-color: #9370db;
  color: white;
  height: 185px;
}
#logo {
  height: 110px;
  margin-left: 55px;
}
.header-menu {
  float: right;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.greeting {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 75px;
  font-family: "Montserrat", sans-serif;
}

#logout-button {
  background-color: #9370db;
  border: none;
  margin-top: -50px;
}

#logout {
  height: 35px;
}

#profile {
  height: 55px;
  float: right;
  margin-right: 10px;
}
#home-logo {
  display: none;
}

@media (min-width: 992px) {
  /* body {
    max-width: 100%;
    overflow-x: hidden;
  } */
  #logo {
    height: 240px;
    margin-left: 335px;
    width: 50%;
  }
  .header {
    height: 240px;
    width: 100%;
    /* position: fixed; */
  }
  #home-logo {
    display: block;
    height: 50px;
    margin-top: -80px;
    margin-left: 1200px;
  }
  #profile {
    margin-top: 160px;
    height: 50px;
  }
}
