.header {
  background-color: #9370db;
  color: white;
  height: 185px;
}
#logo {
  height: 110px;
  margin-left: 55px;
}
.header-menu {
  float: right;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.greeting {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 75px;
}

#logout-button {
  background-color: #9370db;
  border: none;
  margin-top: -50px;
}

#logout {
  height: 35px;
}
